.font-face-pt-regular{
  font-family: "PT-Root-Regular";
}

.container{
  margin: 0 auto;
}

.insurance{
  background: linear-gradient(85.58deg, #A40731 -0.38%, #830B3A 41.27%, #002359 103.58%);
}

main{
  background-color: #F9F9F9;
  height: calc(100vh - 100px);
}

.left-sidebar, .right-sidebar{
  height: calc(100vh - 100px);
}

.plus, .plus-active{
  position: relative;
}

.plus:before,
.plus:after,
.plus-active::before,
.plus-active::after {
  content: "";
  position:absolute;
  background:#A40731;
  transition: ease-in-out 0.2s;
}

.plus::before {
  height: 19px;
  right:31px;
  top: 50%; /* this defines how much black "border" there should be */
  width:2px;
  transform:translateY(-46%);
}

/* the horizontal line */
.plus::after {
  width: 19px;
  top:50%;
  right: 5%;
  height:2px;
  transform: translateX(50%);
}

.plus-active::after{
  width: 19px;
  top: 52%;
  right: 4%;
  transform: rotate(45deg);
  transition: ease-in-out 0.2s;
}

.plus-active::before{
  top: 35%;
  right: 34px;
  transform:rotate(45deg);
  transition: ease-in-out 0.2s;
}

.collapse-content{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: ease-in-out 0.2s;
}

.collapse-content-active{
  opacity: 1;
  height: 307px;
  padding: 20px 0;
  border-top: 1px solid #a407311a;
  transition: ease-in-out 0.2s;
}


