@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PT-Root-Regular";
    src: local("PT-Root-Regular"),
     url("./fonts/PT-Root/PT-Root-UI_Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "PT-Root-Bold";
    src: local("PT-Root-Bold"),
     url("./fonts/PT-Root/PT-Root-UI_Bold.woff") format("woff");
    font-weight: bold;
}